body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", SimSun, sans-serif;
}

body {padding-top:60px;}

.article-title {

}
.article-title a {
    color: #333;
}
.article-meta {
    margin-bottom: 20px;
}
.article-tags {
    font-size: 0;
}
.article-tags .btn {
    margin-right: 5px;
}
.article-body {
    padding: 30px 0;
    font-size: 16px;
    line-height: 1.8;
}
.article-body p {
    margin-bottom: 1em;
}
.footer {
    margin: 30px 0;
    font-size: 16px;
    text-align: center;
}

